#slider {
    appearance: none;
    width: 80%;
    height: 8px;
    border-radius: 999px;
}

#slider::-webkit-slider-thumb {
    appearance: none;
    width: 40px;
    height: 40px;
    background: #21b0a0;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -16px;
    box-shadow: 0 20px 20px rgba(16, 213, 194, 0.5);
    background-image: url("./images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/*slider thumb active state*/
#slider.active::-webkit-slider-thumb {
  box-shadow: 0 0 0 8px rgba(22, 214, 193, 0.3),
              0 0 20px rgba(22, 214, 193, 0.6);
  transform: scale(1.15);
}

#slider::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 9999px;
}